:root{
	/* --rojo-CAMPS: #EB5555;	 */
	--rojo-CAMPS: #ec6161;	
	/* --rojo-CAMPS: #EC5151;	 */	
}
*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1200px;
	box-shadow: 0 0 10px #CCC;
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-center-start{
	display: flex;
	align-items: center;
	justify-content: start;
}
.input-textarea{
	width:100%;
	border: none;
	padding: 10px 1em;
	font-size: 1.3em;
}
.input-submit{
	width: 100%;
	height: 50px;
	color: #FFF;
	padding: 5px;
	border-radius: 3px;
	background: var(--rojo-CAMPS);
	border: none;
	font-weight: 600;
	width: 200px;
}
.input-submit:hover{
	text-decoration: none;
	color: #FFF;
}
.input-text,
.input-date,
.input-pass{
	border: none;
	border-bottom: 1px solid #CCC;
	border-radius: 0px;
	padding: 7px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
	color:#3D3D3D;
	transition: 0.1s ease;
}
.input-text:focus,
.input-date:focus,
.input-pass:focus{
	outline: none;
	border-bottom: 1px solid #3D3D3D;
	padding-left: 10px;
	transition: 0.1s ease;
}
.form{
	width: 100%;
	padding: 30px;
	font-size: 1em;
}
.borrar-btn{
	text-align: center;
	cursor: pointer;
}
.botones-cerrar{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--rojo-CAMPS);
	border: 2px solid var(--rojo-CAMPS);
	border-radius: 50%;
	height: 30px;
	float: right;
}
.botones-cerrar img{
	height: 100%;
}
.botones-titulo{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 700px;
	font-size: 1em;
	color: #3D3D3D;
	width: 100%;
	height: 50px;
	margin-right: 10px;
	border-radius: 5px;
	width: 200px;
	background: var(--rojo-CAMPS);
	border: 1px solid #EEE;
	font-weight: 600;
	color: #FFF;
	margin: 30px auto 0;
	transition: 0.1s ease-in-out;
}
.botones-titulo:hover{
	background: #FFF;
	text-decoration: none;
	color: var(--rojo-CAMPS);
	border: 2px solid var(--rojo-CAMPS);
}
.border-button{
	width: 160px;
	height: 35px;
	margin: 5px 10px 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 3px;
	border: 3px solid var(--rojo-CAMPS);
	background: #FFF;
	color: var(--rojo-CAMPS);
	font-weight: 600;
}
.border-button:hover{
	color: var(--rojo-CAMPS);
	text-decoration: none;
}
.border-button:focus{
	outline: none;
	border: 2px solid var(--rojo-CAMPS);
}
.wide-btn{
	justify-self: stretch;
	width: 100%;
	background-color: var(--rojo-CAMPS);
	font-weight: 600;
	color:#fff;
}
/*
	Global loader
*/
.loader-active{
	height: 100%;
	width: 100%;
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loader-active img{
	height: 50px;
    -webkit-animation: rotating 2s linear infinite;
}

/*
* Header General
*/
.header{
	background-color: #FFF;
	color: #333333;
	height: 140px;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
}
.header-collapsed{
	background-color: #ffffffd0;
	height: 70px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 1;
}
.logoheader{
	max-height: 90px;
	padding: 10px;
	margin: auto;
	display:flex;
	align-items: center;
	justify-content: center;
}
.logoheader img{
	object-fit: contain;
	width: auto;
	max-height: 50px;
}
/*
* Navegación
*/
.nav_boton_dropdown{
	display: none;
	background: none;
	border: none;
	padding: 10px;
}
.drop_cerrar > *{
	transition: all 0.5s ease-in-out;
}
.nav_boton_dropdown img{
	height: 100%;
	object-fit: cover;
}
.wrapper_drop_first{
	min-width: 330px;
	display: flex;
	justify-content: space-between;
}
.wrapper_drop_first > .logoheader > img{
	max-height: 60px;
	max-width: 210px;
}
#navbar_dropdown{
	z-index: 1;
	max-width: 400px;
	display: none;
	animation-duration: 0.5s;
	animation-name: slidein;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	margin: auto;
	background: #D13F3F;
}
#navbar_dropdown ul{
	width: 100%;
	margin: auto;
	text-align: center;
	list-style: none;
}
#navbar_dropdown ul > li{
	width: 100%;
	line-height: 90px;
	font-weight: 600;
}
#navbar_dropdown ul > li .botones{
	border: none;
	background: none;
}
#navbar_dropdown ul > li .botones:hover{
	background: none;
}
#navbar_dropdown ul > li:hover{
	background-color: #FF7070;
	transition: all 0.3s ease-in-out;
}
#navbar_dropdown ul > li > a{
	font-size: 2em;
	color: #FFF;
	text-decoration: none;
	font-size: 1em;
	transition: 0.3s ease;
}
@keyframes slidein {
	from {
		width: 0;
	}
	to {
		width: 400px;
	}
}
nav{
	max-width: 1200px;
	margin: auto;
}

nav ul{
	list-style: none;
	height: 70px;
	margin: auto;
	display: flex;
	align-self: center;
	justify-content: center;
}

nav ul li{
	height: 70px;
	width: 180px;
	display: inline-block;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	transition: all 0.1s ;
}
nav ul li a{
	line-height: 70px;
	height: 70px;
	width: 100%;
	color: #646464;
	font-size: 1.3em;
	font-weight: 600;
	margin: auto;
	text-align: center;
	text-decoration: none;
}
nav ul li a:hover{
	color: #646464;
	text-decoration: none;
}
nav ul li:hover{
	border-bottom: 8px solid var(--rojo-CAMPS);
}
.active{
	border-bottom: 8px solid var(--rojo-CAMPS);
}
.botones{
	border: 1px solid #fff;
	padding: 15px 10px 15px 10px;
	margin-right: 10px;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.botones:hover{
	background-color: var(--rojo-CAMPS);
	color: #646464;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.mi-cuenta-group{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 0;
	
}
.mi-cuenta-group button{
	display: flex;
	align-items: center;
	justify-content: ;
	flex-direction: column;
}
.header_icon{
	padding: 0;
}
.header_icon--btn{
	width: 50px;
	height: 50px;
}
.header_icon span{
	display: none;
	line-height: 15px;
	color: #3D3D3D;
	font-size: 15px;
	font-weight: 600;
}
.header_icon:hover{
	background-color: transparent;
}
.header_icon::after{
	display: none;
}
.dropdown-menu{
	margin-top: 7px;
}
.dropdown-item{
	line-height: 20px;
	height: 30px;
}	
@media only screen and (max-width: 970px){
	.header nav{
		display: none;
	}
	.header{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.logoheader{
		margin: 0;
	}
	.nav_boton_dropdown{
		display: block;
	}
}
@media only screen and (max-width: 450px){
	header{
		padding: 0;
	}
	header, header *{
		max-height: 50px;
	}
	.logoheader{
		height: 100%;
	}
	.wrapper_drop_first .logoheader{
		width: 67%;
	}
	.logoheader img{
		height: 100%;
	}
	@keyframes slidein {
		from{
			width: 0;
		}
		to{
			width: 100%;
		}
	}
}
@media only screen and (max-width: 330px){
	.wrapper_drop_first{
		min-width: 100%;
	}
}
/*
Container de el titulo y botones
*/
.container_title{
	width: 100%;
	height: 670px;
	background-image: url(../images/familia-bici.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	padding-left: 180px;
}
/*
Media para en fondo del container del titulo
*/
@media only screen and (max-width: 1200px) {
	.container_title{
		background-size: auto 100%;
	}
}
/*
Atencion medica
*/
.atencion_medica{
	max-width: 500px;
	display: flex;
	align-items: space-between;
	color: #FFF;
}
.atencion-medica--titulo{
	font-weight: 800;
	line-height: 1.1em;
	font-size: 2.81em;
	max-width: 500px;
}
.atencion-medica--texto{
	margin: 30px 20px ;
	font-size: 1.56em;
	max-width: 500px;
}
.atencion-medica--card{
	background-color: #FFF;
	font-size: 1.1em;
	width: 310px;
	height: 150px;
	padding: 14px;
	gap: 14px;
	border-radius: 5px;
	overflow: hidden;
}
.atencion-medica--card b{
	color: #333333;
}
.atencion-medica--card form div{
	height: 60px;
}
.atencion-medica--card select{
	margin: 0 10px 10px
}
.atencion-medica--card .input-submit{
	width: 140px;
	height: 40px;
}
.medicosya-card a{
	color: inherit;
	font-weight: 600;
}
/*
Atencion Medica Medias
*/
@media only screen and (max-width: 860px){
	.atencion_medica{
		margin: auto;
		font-size: 14px;
		padding: 25px;
	}
	.container_title{
		padding: 0;
	}
.atencion-medica--info{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin: 0;
}
}
/*
	Nuestros Servicios
*/
.nuestros-servicios{
	min-height: 650px;
	width: 100%;
	padding: 0 180px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.ilustracion-medicos{
	height: 580px;
	width: 100%;
}
.ilustracion-medicos img{
	height: 35vw;
	max-height: 580px;
	position: absolute;
	left: 10vw;
}
.nuestros-servicios--info{
	max-width: 670px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.nuestros-servicios--info span{
	font-size: 2.5em;
	margin: 60px 0;
	font-weight: 800;
	color: #3d3d3d;
}
.nuestros-servicios--cards{
	max-width: 660px;
	display: flex;
	flex-wrap: nowrap;
	gap: 60px
}
.servicio-card{
	background-color: #FFF;
	width: 300px;
	height: 370px;
	margin: auto;
	text-align: center;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	display: grid;
	grid-template-rows: 125px 195px 60px;
}
.consultorio-img{
	background: url(http://localhost/centros_medicos/CAMPS/images/consultorios_medicos.jpg);
}
.ecografia-img{
	background: url(http://localhost/centros_medicos/CAMPS/images/ecografias.jpg);
}
.servicio-card--titulo{
	width: 100%;
	height: 125px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #FFF;
	font-weight: 600;
	font-size: 1.9em;
	line-height: 1em;
}
.servicio-card--contenido{
	padding: 20px;
}
.servicio-card .input-submit{
	font-size: 18px;
	width: 100%;
}
/*	Nuestros servicios medias	*/
@media screen and (max-width: 1670px){
	.ilustracion-medicos img{
		left: 3vw;
		height: 35vw;
	}
	.nuestros-servicios{
		padding: 0 3vw;
	}
}
@media screen and (max-width: 1400px){
	.ilustracion-medicos{
		display: none;
	}
	nuestros-servicios--cards{
		flex-wrap: wrap;
		padding: 0 30px;
	}
	.nuestros-servicios{
		justify-content: center;
	}
	.nuestros-servicios--info{
		align-items: center;
	}
}
/*
Contacto
*/

.contact_section{
	height: 430px;	
}
.contact_wrapper{
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 210px;
}
.contact_info{
	border-radius: 5px;
	padding: 50px;
	color: #6B6B6B;
}
.contact_section h2{
	font-weight: 600;
	font-size: 3.1em;
}
.contact_section p{
	font-size: 1.5em;
}

/*  Contact medias  */

@media only screen and (max-width: 750px){
	.contact_section{
		height: 850px;
	}
	.contact_section iframe{
		height: 250px;
	}
	.contact_wrapper{
		display: block;
	}
	.contact_info{
		padding: 15px;
		margin-top: 15px;
		height: 200px;
	}
}

/*
Footer
*/
footer{
	width: 100%;
	padding: 50px 0 50px 0;
	background: #E0E0E0;
}
.wrapper_footer{
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	padding-bottom: 10px;
}
.logo_footer{
	display: block;
	margin: 0 auto 25px;
	max-width: 300px;
	width: 100%;
}
.footer_icon{
	width: 27px;
}
.wrapper_footer h4{
	text-align: center;
}

/*  Footer medias  */

@media only screen and (max-width: 450px){
	.wrapper_footer{
		padding: 0 21px 0 21px;
	}
}
@media only screen and (max-width: 380px) {
	.logo_footer{
		width: 100%;
	}
}

/*
	Profesionales
*/

.titulo_medicos{
	padding: 1em;
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.titulo_medicos p{
	font-size: 30px;
	font-weight: 600;
	margin: 0;
}
.buscar{
	padding: 0;
	border: none;
	display: flex;
	width: 40vw;
	margin:auto;
}
.buscar .input-text{
	border: 2px solid var(--rojo-CAMPS);
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 40px;
	margin: 0;
	width: 90%;
	padding: 7px;
}
.select-especialidad{
	border-radius: 5px;
	border: 2px solid var(--rojo-CAMPS);
	color: #DDD;
	height: 40px;
	padding: 5px;
	transition: 0.1s ease-in-out;
}
.select-especialidad:focus{
	outline: none;
	color: rgb(199, 199, 199);
}
.select-especialidad option{
	background-color: #FFF;
	color: initial;
}
.buscar-submit{
	height: 40px;
	padding: 8px;
	border: 2px solid var(--rojo-CAMPS);
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--rojo-CAMPS);
	color: #FFF;
	transition: 0.1s ease-in-out;
}
.buscar-submit:hover{
	background-color: var(--light-button-color);
}
.buscar-submit img{
	height: 100%;
}

.especialidad{
	width: 100%;
	box-shadow: inset 0 -3px 10px 0 #CCC;
}
.separador{
	min-height: 90px;
	display: flex;
	align-items: center;
	padding: 20px 25px;
	background-color: #EEE;
	color: #3D3D3D;
	width: 100%;
}
.separador h2{
	margin: 0;
}
.wrapper_medicos{
	max-width: 1400px;
	padding: 100px 0px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	/* display: grid;
	gap: 100px;
	grid-template-columns: repeat(3, 1fr);*/
}
.medico{
	margin: 50px;
	width: 100%;
	max-width: 350px;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 120px 1fr;
	grid-template-rows: 120px 40px;
	box-shadow: 0 0 15px #EEE;
}
.info_medico{
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.info_medico > *{
	margin: 0;
	padding: 0;
}
.info_medico p {
	font-size: 0.9em;
}
.info_medico span{
	justify-self: flex-start;
	font-size: 1.4em;
	line-height: 1em;
	font-weight: 600;
}
.foto_medico{
	height: 100%;
	object-fit: cover;
}
.boton_medicos{
	grid-column: 1/3;
	height: 40px;
	width:100%;
	background-color:  var(--rojo-CAMPS);
	border-top: 1px solid var(--rojo-CAMPS);
	color: #FFF;
	font-size: 1em;
	font-weight: 600;
	transition: all 0.2s;
}
.boton_medicos:hover{
	text-decoration: none;
	border-top: 1px solid #EEE;
	background-color: #FFF;
	color: var(--rojo-CAMPS);
}
.nuevo_medico_btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nuevo_medico_btn a{
	height: 50%;
	border-radius: 50%;
	transition: 0.1s ease-in-out;
}
.nuevo_medico_btn a:hover{
	height: 55%;
}
.nuevo_medico_btn a img{
	height: 100%;
}

/*    Medicos medias   */

@media only screen and (max-width: 945px){
	.wrapper_medicos{
		padding: 20px;
		justify-content: center;
	}
	.medico{
		margin: 20px auto;
	}
}
@media only screen and (max-width: 420px){
	.info_medico{
		padding: 10px;
	}
	.medico{
		grid-template-columns: 120px 1fr;
	}
	.separador{
		padding: 20px;
		font-size: 1em;
	}
}
@media only screen and (max-width: 375px){
	.info_medico{
		font-size: 14px;
	}
	.info_medico span{
		line-height: 20px;
	}
}
/*

Sacar Turno

*/
.wrapper-reservar{
	width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: 350px 1fr;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	overflow: hidden;
}
.info-consulta{
	background: #FFF;
}
.info-consulta > div{
	padding-bottom:30px;
}
.reservar-turno--header{
	height: 90px;
	gap: 25px;
	padding: 10px;
}
.flecha-volver{
	min-height: 60px;
	min-width: 60px;
	height: 60px;
	width: 60px;
	padding: 15px;
	border-radius: 30px;
	background-color: #EEEEEE;
	border: 1px solid #EEE;
	transition: 0.3s all ease-in-out;
}
.flecha-volver:hover{
	background-color: #FFF;
}
.flecha-volver img{
	height: 100%;
}
.info-consulta--nombre{
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
}
#turno-formulario{
	height: 160px;
	overflow: hidden;
}
.reservar--card{
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 16%);
	padding: 15px 20px;
	margin: 0 30px 25px;
}
.lista-precio{
	list-style-type: "- ";
	list-style-position: inside;
	margin: 0;
}
.reservar--card .border-button{
	width: 100%;
	margin: 10px 0;
	cursor: pointer;
}
.reservar--card .input-text{
	margin: 0;
}
.reservar--card .input-text:focus{
	border: 1px solid #3D3D3D;
}

@keyframes pacienteFormulario{
	from{
		margin-top: 100%;
	} to {
		margin-top: 0;
	}
}
.turno-formulario{
	-webkit-animation: pacienteFormulario 0.5s ease;
	margin: 0;
	border-top: 5px solid var(--rojo-CAMPS);
	box-shadow: 0 0 10px rgb(0, 0, 0, 20%);
}
.reserva-submit{
	height: 50px;
	width: 100%;
	max-width: 290px;
	border-radius: 5px;
	border: 0;
	margin: 0 30px 25px;
	background-color: var(--rojo-CAMPS);
	color: #FFFFFF;
	font-weight: 600;
}
.alert{
	padding: 10px;
	color: #fff;
	border-radius: 2px;
	font-size: 0.9em;
	background: #f2DEDE;
	border: 1px solid #a94442;
	color: #a94442;
}

/*  Calendario  */
.wrapper-calendario{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	background-color: #F9F9F9;
}
.wrapper-calendario h2{
	margin: 0 auto 25px;
}
.calendario{
	/* width: 620px;
	height: 420px; */
	width: 80%;
	height: 100%;
	margin: auto;
}
.calen-header{
	width: 100%;
	text-align: center;
	height: 70px;
	color: #FFF;
	border: 1px solid #EEE;
	border-radius: 5px;
	font-weight: 600;
	background-color: var(--rojo-CAMPS);
}
.calen-title{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
}
.calen-title > *{
	color: #FFF;
	margin:  0 10px;
}
.calen-title a:hover{
	color: #EEE;
}
.calen-semana{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.calen-grid{
	width: 100%;
	height: 335px;
	display: inline-grid;
	grid-template-columns:repeat(7, 1fr);
	grid-template-rows: 50px;
	gap: 1em;
	padding: 10px;
	overflow: hidden;
}
.calen-dia{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #3D3D3D;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD;
	transition: 0.3s;
	cursor: pointer;
}
.calen-dia:hover{
	color: #636363;
	text-decoration: none;
	box-shadow: 0 0 10px #CCC;
	transition: 0.3s;
}
.calen-dia--focus{
	color: #636363;
	border: 1px solid var(--light-button-color);
	text-decoration: none;
	box-shadow: 0 0 10px #CCC;
}
.dia-bloqueado{
	opacity: 0.3;
}
.dia-bloqueado:hover{
	color: #3D3D3D;
	box-shadow: 0 0 5px #DDD;
	text-decoration: none;
	cursor: not-allowed;
}
.wrapper-horarios{
	width: 100%;
	padding: 20px 0;
	display: flex;
	width: auto;
	flex-wrap: wrap;
}
.wrapper-horarios .calen-dia{
	height: 100%;
	width: 100%;
	max-height: 60px;
	max-width: 80px;
	margin: 15px;
	border-radius:5px;
}
.form-paciente{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pnr-input{
	border: 1px solid #d8d8d8;
	height: 40px;
	max-width: 270px;
	border-radius: 5px;
}
.pnr-card{
	height: 100px;
	width:100%;
	max-width: 220px;
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 16%);
	padding: 0px 10px;
	margin: 7px auto 25px;
	border: 3px solid var(--light-button-color);
}
.pnr-card--info{
	color:#AFAFAF;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 600;
	flex-direction: column;
}
.pnr-card b{
	text-align: left;
	font-size: 13px;
	color:#2b2b2b;
}
#pnr-errores{
	display: none;
}
.form-paciente--buttons{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-paciente--buttons > *{
	width: 40%;
	text-align: center;
	max-width:140px;
}
.form-paciente--buttons > *:nth-child(even){
	background-color: var(--rojo-CAMPS);
	border-color: var(--rojo-CAMPS);
	color:#fff;
}
.form-paciente--buttons > *:nth-child(odd){
	background-color: var(--light-button-color);
	border-color: var(--light-button-color);
	color:#fff;
}
.form-paciente--btn:hover{
	color:#fff;
}
/*  Calendario medias  */
@media (max-width: 1200px){
	.wrapper-reservar{
		width: 100%;
	}
}
@media (max-width: 850px){
	.agregar_medico{
		grid-template-columns: 1fr;
		height: auto;
	}
	
}
@media (max-width: 620px){
	.calendario{
		width: 90%;
	}
	.calen-grid{
		gap: 5px;
		grid-template-rows: 40px;
	}
	.calen-dia{
		font-size: 20px;
		height: 40px;
		/* width: 35px; */
	}
	.wrapper-calendario{
		display: block;
	}
}
/*  Turnos medias  */

@media only screen and (max-width: 1300px){
	.reservar-turno{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 1100px){
	.reservar-turno{
		width: 100%;
	}
}
@media only screen and (max-width: 920px) {
	.wrapper-reservar{
		display: block;
	}
}
@media only screen and (max-width: 600px){
	.reservar-turno{
		width: 100%;
		margin: 10px;
		display: grid;
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 420px){
	.wrapper_formulario{
		width: 100%;
	}
}

/*
	Modal - Horarios disponibles
*/
@-webkit-keyframes modal-open {
    from{	
        height: 0px;
    }
    to{
        height: 310px;
    }
}
.horarios-modal{
    -webkit-animation: modal-open 0.5s ease;
	padding: 25px;
	grid-column: 1/8;
	grid-row: 1/6;
	height: 310px;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	overflow-y: scroll;
}

/*
About Us
*/
.wrapper-about{
	max-width: 1500px;
	margin: auto;
	padding: 30px 0;
	box-shadow: none;
}
.about{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 250px;
	grid-gap: 30px;
	padding: 30px;
	z-index: -1;
}
.about_info{
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
}
.about_info:nth-child(2){
	grid-row: 1/3;
}
.about_info b{
	font-size: 18px;
}
.about_info p{
	margin: 5px;
}
.about--img{
	padding: 0;
	overflow: hidden;
}
.about--img img{
	/* max-width: 100%; */
	max-height: 100%;
}
/*  About medias  */
@media only screen and (max-width: 1000px){
	.about{
		grid-template-columns: 1fr;
	}
}
/*
Login
*/
.login-header{
	height: 10vh;
}
.wrapper-login{
	width: 100%;
	display: grid;
	grid-template-columns:  5fr 2fr;
	height: 90vh;
	gap: 0px;
}
.login{
	height:100%;
	width: 100%;
	margin: 0;
}
.login-form{
	width: 300px;
	padding: 10px 25px ;
	margin: 10vh auto;
	color:#3d3d3d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: auto;
}
.login-text{
	color: #FFF;
	position: relative;
	text-align: left;
	top: 30%;
	margin: auto;
	width: 370px;
}
.login-text b{
	font-size: 50px;
}
.login-text p{
	font-size: 25px;
}
.login-bg{
	background-image: url(../images/medicos_login.png);
	background-size: cover;
	background-attachment: scroll;
	width: 100%;
	height: 90vh;
	display:block;
	text-align:center;
}
.login-angle{
	height: 100%;
	float: right;
}
.login-bg img{
	max-width: 100%;
	max-height: 100%;
}
/*
Registrarse
*/
.registrarse{
	position: relative;
	top: 5vh;
	justify-content:flex-start;
	height:100%;
	width: 500px;
	border-radius: 5px;
	background-color: #FFF;
}
.login-form .input-submit{
	font-size: 20px;
	width: 100%;

}
.login-form .input-text:focus,
.login-form .input-pass:focus {
	padding: 15px;
}
/*
 Media Login/Registrarse
*/
@media only screen and (max-width: 1024px){
	.wrapper-login{
		display:block;
		height: auto;
		
	}
	.login-bg{
		display:none;
	}
	.login{
		width:100%;
		max-width:350px;
		display:flex;
		margin: auto;
	}
	.login-form{
		margin:25px auto;
		box-shadow:0 0 10px rgb(0, 0, 0, 15%);
		border-radius: 5px;
	}
}
/*
	Pagina Administracion
*/
.administracion{
	box-shadow: 0 -2px 6px #CCC;
}
.administracion h2{
	font-weight: 600;
	margin: 0 0 0 30px;
	display: block;
}
.botones_panel{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 25px;
}
.botones_panel a, .botones_panel button, .botones_panel div{
	margin: auto;
	width: 210px;
}
#agregar{
	display: none;
	animation: especialidad 0.2s ease;
	position: absolute;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #FFF;
	width: 250px;
	height: 200px;
	box-shadow: 0 0px 6px rgb(0, 0, 0, 15%);
	overflow: hidden;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 0;
}
#agregar > *{
	width: 100%;
}
#agregar h6{
	margin: 10px 0;
}
#agregar .input-date{
	margin-bottom: 10px;
}
	#agregar .input-date:focus {
		padding-left: 7px;
	}
#agregar .input-submit{
	margin-top: 10px;
}
.agregar--buttons{
	display: flex;
	gap: 10px;
}
@keyframes especialidad{
	from{
		height: 0;
	}
	to{
		height: 200px;
	}
}
.separador a{
	min-width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 30px;
	background-color: #EEE;
	border: 1px solid #CCC;
	color: #DDD;
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.1s ease-in-out;
}
.separador a:hover{
	background-color: #FFF;
	color: #EB5555;
	border: 2px solid var(--rojo-CAMPS);
}
.editar_borrar{
	background: #EEE;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1/3;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width:100%;
	transition: 0.5s;
}
.editar_borrar a{
	background-color: var(--rojo-CAMPS);
	color: #FFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease;
}
.editar_borrar a:hover{
	background-color:#FFF;
	color: var(--rojo-CAMPS);
}
/*  Administración Medias  */
@media only screen and (max-width: 800px){
	.administracion{
		height: auto;
		display: grid;
		grid-template-columns:1fr;
		gap: 35px;
	}
	.administracion h2{
		text-align: center;
		margin: 0;
	}
	.botones_panel{
		margin: auto;
	}
}
@media only screen and (max-width: 500px){
	.botones_panel{
		width: 100%;
	}
	.botones_panel a, .botones_panel div{
		margin: 15px;
	}
}
/*
	Nuevo y editar
*/
.wrapper_agregar_editar{
	display: flex;
	align-items: center;
}
.agregar_medico{
	max-width: 1200px;
	height:100%;
	margin: auto;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	box-shadow: 0 0 10px #EEE;
}
.agregar_medico_form{
	width: 350px;
	margin: 0;
	height: 100%;
	border-top: none;
	background-color: #FFF;
	box-shadow: 0 0 10px #EEE;
	justify-self: self-start;
}
.form-title{
	font-size: 1.1em;
	padding: 15px 0;
	color: #333333;
}
.form-content{
	padding: 0 5px;
}
.agregar_medico_form label{
	font-weight: 600;
	margin-top: 10px;
}
.horarios{
	width: 100%;
	max-width: 425px;
	padding: 30px;
}
.nueva-fila{
	border-radius: 10px;
	color: #AAA;
	padding: 25px;
	margin: 20px;
	max-width: 380px;
	box-shadow: 0 0 10px #DDD;
}
.horarios .input-select,
.horarios .input-text{
	margin-bottom: 10px;
	outline: none;
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 5px;
	height: 30px;
}
.agregar_medico .input-submit{
	width: 100%;
	font-size: 20px;
	height: 90px;
}
/*	Nuevo y editar medias	*/
@media only screen and (max-width: 770px){
	.agregar_medico > *{
		width: 100%;
	}
}
/*
	Pagina de medicos
*/


/*	Landing page	*/
.medico-landing{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 60px;
	display: flex;
	flex-direction: column;
}
.medico-landing--titulo{
	color: #3D3D3D;
	font-size: 30px;
	margin: 30px 0;
	font-weight: 800;
}
.medico-landing--grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 40px;
}
.ml-box{
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	border-radius: 5px;
	overflow: hidden;
}
.ml-box:nth-child(3){
	grid-row: 1/3;
	grid-column: 2/3;
}
.ml-box-datos{
	display: grid;
	grid-template-columns: 1fr 165px;
}
.ml-box-datos > span{
	height: 165px;
	object-fit: contain;
}
.ml-box-datos > span img{
	height: 165px;
}
.ml-box--header{
	color: #FFF;
	background-color: var(--rojo-CAMPS);
	padding: 15px 20px;
	font-size: 18px;
}
.ml-box--item{
	display: flex;
	align-items: center;
	width: 100%;
	height: 55px;
	font-size: 15px;
	border-bottom: 1px solid #EEE;
}
.ml-box--item p{
	padding: 0 20px;
}
.ml-box--item p{
	margin: 0px;
}
.ml-usuario-foto{
	height: 54px;
}
.ml-turno{
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}
.ml-turno--icon{
	width: 20px;
	height: 20px;
	margin-left: 20px;
	cursor: pointer;
}

/*	Medicos turnos	*/
.turnos-am-pm{
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	padding: 100px 20px;
}
.sin-turnos{
	width: 100%;
	text-align: center;
	color: #CCC;
}
.turno{
	background-color: #FFF;
	border-left: 10px solid var(--rojo-CAMPS);
	border-radius: 5px;
	height: 80px;
	width: 400px;
	margin: 20px 5%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 10px #E0E0E0;
	font-size: 30px;
}
.three-dots{
	min-height: 40px;
	min-width: 40px;
	border: 1px solid #999;
	border-radius: 20px;
}
.three-dots img{
	width: 30px;
}

/*	Turnos medias	*/

@media only screen and (max-width: 1040px){
	.turno{
		margin: 20px 20px;
	}
}
@media only screen and (max-width: 920px){
	.turno{
		margin: 20px auto;
	}
	.turnos-am-pm{
		padding: 30px 10px;
	}
}

/*
Turno
*/
.mis-turnos-wrapper{
	width: 1200px;
	min-height: 700px;
	font-size: 20px;
	margin: auto;
	box-shadow: 0 0 10px #CCCCCC;
}
.mis-turnos-wrapper p{
	margin: 0;
}
.mis-turnos-header{
	height: 60px;
	width: 100%;
	background: #EEEEEE;
	font-size: 1em;
	color: #AFAFAF;
	display: grid;
	grid-template-columns: 4fr 4fr 2fr 1fr 3fr;
}
.mis-turnos-header > span{
	padding-left: 1em;
	border-right: 1px solid #707070;
}
.mi-turno{
	height: 80px;
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 4fr 2fr 1fr 3fr;
	border-bottom: 1px solid #EEE;
	font-size: 1em;
}
.turno-cancelado{
	height: 80px;
	width: 100%;
	display: grid;
	grid-template-columns: 8fr 2fr 1fr 3fr;
	border-bottom: 1px solid #EEE;
	font-size: 1em;
}
.mi-turno-info{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1em;
}
.mi-turno-btns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
}
.mi-turno-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	font-weight: 600;
	color: #FFF;
	background: var(--rojo-CAMPS);
	transition: all 0.3s ease-in-out;
}
.mi-turno-btn:hover{
	background-color: #FFF;
	color: var(--rojo-CAMPS);
	text-decoration: none;
}
.mi-turno-cancelar:hover{
	color: #FFF;
}
/*	Mis turnos medias	*/
@media only screen and (max-width: 1200px){
	.mis-turnos-wrapper{
		width: 100%;
		font-size: 16px;
	}
}
@media only screen and (max-width: 1000px){
	.mi-turno-btns{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.mi-turno,
	.turno-cancelado{
		height: 120px;
	}
}
@media only screen and (max-width: 800px){
	.mi-turno-especialidad{
		display: none;
	}
	.mi-turno,
	.mis-turnos-header{
		grid-template-columns: 3fr 2fr 1fr 2fr;
	}
}
@media only screen and (max-width: 550px){
	.mis-turnos-wrapper{
		font-size: 12;
	}
}
@media only screen and (max-width: 420px){
	.mi-turno-hora{
		display: none;
	}
	.mis-turnos-header,
	.mi-turno{
		grid-template-columns: 3fr 2fr 2fr;
	}
	.turno-cancelado{
		grid-template-columns: 2fr 1fr;
	}
	.turno-cancelado a{
		grid-column: 1/6;
	}
}
/*
	Informacion de la reserva
*/
.info-reserva-container{
	margin: auto;
	width: 1200px;
	box-shadow: 0 0 10px #CCC;
}
.reserva-exitosa{
	padding: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.reserva-exitosa--header{
	align-self: start;
	width: 100%;
	font-weight: 600px;
	padding-left: 25px;
	height: 100px;
	color: #FFF;
	background-color: var(--rojo-CAMPS);
}
.mensaje-reserva{
	width: 350px;
	font-size: 20px;
}
.wrapper_info_reserva{
	width: 335px;
	border-radius: 10px;
	box-shadow: 0 0 10px #CCC;
	overflow: hidden;
	display: grid;
	row-gap: 1px;
}
.wrapper_info_reserva > *{
	height: 55px;
}
.wrapper_info_reserva a :nth-child(odd){
	border-top: 1px solid #FFF;
}

/*	Informacion de la reserva medias	*/

@media only screen and (max-width: 1200px){
	.info-reserva-container{
		width: 100%;
	}
}
/*
	Mi cuenta
*/
.wrapper_mi_cuenta{
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	max-width:1200px;
	margin: auto;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.titulo-bold{
	width: 100%;
	color: #525252;
	font-weight: 600;
	font-size: 2.1em;
}
.mi_cuenta_info{
	width: 100%;
	max-width:850px;
	margin: 40px 20px 0 20px;
	border-radius: 5px;
	border-bottom: 1px solid #e3e3e3;
	box-shadow: 0 0 10px rgb(0, 0, 0, 15%);
	color: #646464;
}
.cuenta_info_titulo{
	height: 65px;
	font-size: 1.5em;
	font-weight: 600;
	padding: 15px;
}
.cuenta_info_item{
	border-top: 1px solid #E3E3E3;
	height: 50px;
	padding: 10px 50px;
	display:flex;
	align-items: center;
}
.cuenta_info_item span:nth-child(odd){
	font-weight: 600;
	width: 50%;
}
.cuenta_info_item span:nth-child(even){
	width: 50%;
}
.nueva-repetir-contraseña{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap: 10px;
}
.nueva-repetir-contraseña > *{
	width: 100%;
}
.cambiar_contraseña{
	height:180px;
	display:grid;
}
.contraseña-actual{
	grid-column: 1/3;
}
.cambiar_contraseña input{
	height: 30px;
	border-radius: 3px;
	padding: 5px;
	color: #E3E3E3;
	border: 1px solid #E3E3E3;
}
.cambiar_contraseña .input-submit{
	margin-top: 10px;
	height: 35px;
	border-radius: 3px;
	margin-right: 5px;
	color: #fff;
	float: right;
}
/*	Mi cuenta medias	*/
@media only screen and (max-width: 660px){
	.nueva-repetir-contraseña{
		display: block;
	}
}
@media only screen and (max-width: 500px){
	.cuenta_info_item{
		padding:5px 25px;
	}
	.nueva-repetir-contraseña{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.cuenta_info_titulo{
		display: flex;
		align-items: center;
		justify-content: start;
		height: 65px;
		font-size: 1.2em;
		font-weight: 600;
		padding: 15px;
	}
}
@media only screen and (max-width: 350px){
	.cuenta_info_item{
		padding:5px 25px;
		height:100px;
	}
}
/*
Turno medico - Consulta
*/

.wrapper_turno{
	margin: 60px auto;
	display: grid;
	width: 1200px;
	height: 750px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 2fr;
	row-gap: 25px;
	column-gap: 60px;
	font-size: 1.5em;
	color: #6D6D6D;
}
.wrapper_turno > div {
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 0 10px #CCCCCC;
}
.wrapper_info_paciente > *{
	height: 75px;
}
.info_paciente_consulta{
	height: 65px;
	width:100%;
	padding-left: 1em;
	background-color: #F9F9F9;
	color: #3D3D3D;
}
.paciente{
	border-bottom: 1px solid #EEE;
	padding-left: 1em;
}
.boton_historia{
	background: var(--rojo-CAMPS);
	color: #FFF;
	font-weight: 600;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}
.boton_historia:hover{
	background-color: #FFF;
	color: var(--rojo-CAMPS);
	text-decoration: none;
}
.consulta_text{
	height: 177px;
	max-height: 177px;
}
.receta{
	grid-row: 1/3;
	grid-column: 2/3;
	height: auto;
}
.titulo_receta{
	background:var(--rojo-CAMPS);
	height:100px;
	color: #FFF;
	font-weight: 600;
	padding-left: 1em;

}
.receta_text{
	height: 530px;
	max-height: 530px;
}
.submit_turno{
	height: 95px;
	background:var(--rojo-CAMPS);
	font-weight: 600;
	color: #FFF;
	border: 0;
}
/*
	Verificacion
*/
.overlay{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 40%);
	z-index: 10;
}
.verificacion{
	backdrop-filter: brightness(60%);
	background-color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: grid;
	grid-template-rows: 70px 1fr 50px;
	border-radius: 5px;
	max-width: 550px;
	height: 270px;
	overflow: hidden;
}
.verificacion > *{
	padding: 25px;
}
.verificacion--title{
	background:var(--rojo-CAMPS);
	width: 100%;
	max-height: 70px;
	font-weight: 600;
	font-size: 20px;
	color: #FFF;
}
.verificacion--buttons{
	padding: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1px;
	font-weight: 600;
}
.verificacion--buttons a{
	background-color: #DDD;
	transition: all 0.2s ease-in-out;
}
.verificacion--button{
	color: #3D3D3D;
}
.verificacion--button:hover{
	background-color: #EEE;
	color: #3D3D3D;
}
.verificacion--danger{
	color: var(--rojo-CAMPS);
}
.verificacion--danger:hover{
	background-color: var(--rojo-CAMPS);
	color: #FFF;
}
.verificacion--buttons a:hover{
	text-decoration: none;
}

/* Activar cuenta */
.wrapper_activar_cuenta{
	height: 600px;
}
.activar_cuenta{
	max-width:700px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:60px;
	gap: 20px;
	height:310px;
	box-shadow:0 0 10px rgb(0, 0, 0, 15%);
	border-radius:10px;
}
.activar_cuenta div{
	width:375px;
}
.activar_cuenta div h2{
	font-weight: 600;
}
.activar_cuenta--img{
	height: 200px;
}